@font-face { font-family: luxi-sans; src: url('/fonts/luxisr.ttf'); } 
@font-face { font-family: luxi-serif; src: url('/fonts/luxirr.ttf'); } 

body {
    background-color: #000011;
    color: white;
    font-family: luxi-serif,serif;
    font-style: normal;
}

.logo {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: luxi-sans,sans-serif;
  font-style: normal;
  font-weight: 500;
}

div, p {
    padding: 0.5em 0;
}

ol {
    margin-left: 2em;
}

a:visited, a:link {
    color: #00CC00;
}

h1 a:visited, h1 a:link {
    color: white;
    text-decoration:none;
}

h1 a:hover {
    text-decoration: underline;
}

.post-content {
    margin-top: 1em;
    margin-bottom: 3em;
}

.center {
    text-align: center;
}




	



