body {
    background-color: #080808;
    color: #eeeeee;
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
}

.logo {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-style: bold;
    margin-bottom: 0.5em;
}

.menu a {
    font-size: 1.5em;
    margin-right: 1em;
}

div, p {
    padding: 0.5em 0;
}

ol {
    margin-left: 2em;
}

a:visited, a:link {
    color: #2DD700;
}

.menu a:visited, .menu a:link, h2 a:visited, h2 a:link {
    color: #eeeeee;
    text-decoration:none;
}

h1 a:hover {
    text-decoration: underline;
}

.post-content {
    margin-top: 1em;
    margin-bottom: 3em;
}

.center {
    text-align: center;
}

.posts span.date {
    font-family: Monaco, "Courier New", monospace;
    font-size: 0.8em;
    margin-right: 1em;
}

/* http://css-tricks.com/examples/ButtonMaker/# */

.button {
    border-top: 1px solid #c5ffc2;
    background: #1d8b00;
    background: -webkit-gradient(linear, left top, left bottom, from(#2dd700), to(#1d8b00));
    background: -webkit-linear-gradient(top, #2dd700, #1d8b00);
    background: -moz-linear-gradient(top, #2dd700, #1d8b00);
    background: -ms-linear-gradient(top, #2dd700, #1d8b00);
    background: -o-linear-gradient(top, #2dd700, #1d8b00);
    padding: 9.5px 19px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #eeeeee;
    font-size: 19px;
    text-decoration: none;
    vertical-align: middle;
}

.button:hover {
    border-top-color: #fafafa;
    background: #f0fc00;
    color: #080808;
}

.button:active {
    border-top-color: #f2f5f2;
    background: #f2f5f2;
}	



