---
layout: layout
---

<div class="row">
  <div class="onecol">
  </div>
  <div class="twocol">
    <h4>Posts</h4>
    <ul>
      {% for post in site.posts %}
      <li>
	<div><a href="{{ post.url }}">{{ post.title }}</a><br/>
	  <div>{{ post.date | date: "%B %e, %Y" }}</div>
      </li>
      {% endfor %}
    </ul>
    </div>

    <div class="sevencol">


      <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
      <h4>Posted on {{ page.date | date_to_string }} by <a href="http://twitter.com/bjnortier">Benjamin Nortier</a></h4>
      <script>
	var idcomments_acct = 'cb1078b244d71cf4fd087c5c9f074195';
	var idcomments_post_id;
	var idcomments_post_url;
      </script>
      <script type="text/javascript" src="http://www.intensedebate.com/js/genericLinkWrapperV2.js"></script>

      <div class="post-content">
	{{ content }}
      </div>

      <script>
	var idcomments_acct = 'cb1078b244d71cf4fd087c5c9f074195';
	var idcomments_post_id;
	var idcomments_post_url;
      </script>
      <span id="IDCommentsPostTitle" style="display:none"></span>
      <script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>

    </div>
    <div class="twocol last">
    </div>
  </div>
